  /*custom css */
  .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  }

  .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }

  .mini_photo img {
    display: inline;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .card-header {
    padding: 1.5rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    font-size:21px;
    font-weight: 700;
}

  .card-body {
    flex: 1 1 auto;
    padding: 2.25rem;
    background-color: rgba(0,0,0,.01);
    border-left: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
  }

  .small-adjustment {
    max-width: 65%;
  }
  /* end custom css */

  body{margin:0;padding:0;font-size:17px;line-height:1.6;font-family:"Open Sans",Helvetica,Arial,sans-serif;background:#fff;color:#333}

  html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}

  *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
  :before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
  #header{padding:10px 0;margin-bottom:14px;border-bottom:1px solid #ebecef;background:#fff;color:#5c6270}
  #header .logo{max-width:100%;float:left;margin:10px 0 0;width: 210px; height: auto;}
  .exclusive{color:#686868;margin:0 0 5px;font-weight:400;font-size:14px}

  @media (max-width: 640px) {
  .exclusive{font-size:13px}
  }

  .by{padding:0;font-size:13px;line-height:1.4em;color:#777;margin:0 auto 8px}
  .page-container{width:100%}
  .page-container:before,.page-container:after,.page-column:before,.page-column:after,.clearfix:before,.clearfix:after{display:table;content:" "}
  .page-container:after,.page-column:after,.clearfix:after{clear:both}
  .page-container,.page-column{padding-right:16px;padding-left:16px;margin-right:auto;margin-left:auto}
  .page-row{position:relative}
  .page-content,.page-sidebar{position:relative;min-height:1px;margin-bottom:30px}
  .page-content p:last-child,.page-column p:last-child{margin:0}

  @media (max-width:767px) {
  .page-sidebar .img-responsive{margin:0 auto 20px}
  }

  .img-main{float:right;margin:6px 0 20px 20px}

  @media(max-width:867px) {
  .img-main{display:block;width:100%;max-width:100%;height:auto}
  }

  @media (min-width:768px) {
  .page-container,.page-column{width:768px}
  .page-row>.page-sidebar{width:238px;position:absolute;top:0;right:0}
  .page-row>.page-content{margin-right:268px}
  }

  @media (min-width:810px) {
  .page-container,.page-column{width:810px}
  }

  @media (min-width:868px) {
  .page-container,.page-column{width:868px}
  }

  @media (min-width:968px) {
  .page-container,.page-column{width:968px}
  }

  @media (min-width:1000px) {
  .page-container,.page-column{width:1000px}
  }

  @media (min-width:1060px) {
  .page-container{width:1060px}
  }

  a,a:visited{color:#167ac6;cursor:pointer;text-decoration:none;font-weight:700;outline:0}
  a:hover,a:focus{text-decoration:underline}
  p{margin:0 0 20px; font-size:1em;}
  b{font-weight:700}
  hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;margin:20px auto;border:0;border-top:1px solid #eee}
  h1{padding:0;margin:10px 0;line-height:1.2;color:#17191c;font-size:31px;font-weight:800}
  h3{font-size:21px;font-weight:700;line-height:1.25;margin:20px 0;color:#17191c}
  @media (max-width:767px) {
  h1{font-size:30px}
  h3{font-size:22px}
  }
  @media (min-width: 359px) and (max-width: 486px) {
  h1{font-size:26px;font-weight:700;line-height:1.16em}
  }
  @media (max-width: 358px) {
  h1{font-size:25px;font-weight:700;line-height:1.16em}
  }
  img{vertical-align:middle;border:0}
  .img-responsive{display:block;width:100%;max-width:100%;height:auto;margin:20px auto}
  .img-cntr{margin:30px 0 40px;max-width:360px;width:100%;height:auto;display:block}
  @media(max-width: 500px) {
  body{font-size:16px}
  }
  .disclaimer-footer1{font-size:17px;font-weight:400}
  #footer{padding:60px 0;font-size:14px;word-wrap:break-word;background:#2e3138;color:#abb0ba}
  #footer p:last-child{margin:0}
  #footer a,#footer a:hover,#footer a:visited{color:#abb0ba;font-weight:400}
  #footer a:before{padding:0 5px}
  .top-banner{display:none}
  @media (min-width: 744px) {
  .top-banner{line-height:1.2;display:block;width:420px;height:60px;background-color:#f7f7f7;float:right;margin:6px 0 0}
  }
  @media (min-width: 868px) {
  .top-banner{line-height:1.2;display:block;width:468px;height:60px;background-color:#f7f7f7;float:right;margin:4px 0 0}
  }
  .top-banner-txt-1{font-size:15px;display:inline-block;margin-top:9px;color:#333;font-weight:700}
  .top-banner-txt-2{font-size:13px}
  a .top-banner-txt-2{color:#333!important;text-decoration:underline}
  a .top-banner-txt-2:hover{color:#555!important}
  a .top-banner-txt-2:focus{color:#555!important}
  .top-banner-img{margin:4px 8px 0 5px;float:left}
  .img-side{margin-top:18px;max-width:320px}
  .global-header{width:100%;background:#344A5F;overflow:hidden;height:46px;}
  .global-header p{display:inline-block;color:#999;font-size:.85em}
  .global-header p.brand{float:left;font-family:'Open Sans',sans-serif;font-size:20px;font-weight:400;text-transform:uppercase}
  .global-header p.brand strong{font-weight:700}
  .global-header p.brand{display:inline-block;color:#fff;font-weight:400;margin:8px 2px 0;text-decoration:none;text-shadow:1px 1px 1px #333}
  .global-header p.back-to-article{float:right;margin-bottom:0!important;font-size:16px!important}
  .global-header p.back-to-article a{display:inline-block;padding:12px;margin:0;background:#273C51;font-weight:400!important;color:#fff;text-decoration:none}
  .global-header p.back-to-article a:hover{background:#08c}
  .top-advertorial{width:100%;text-align:center;background-color:#273C51}
  .top-advertorial-text{font-size:16px;max-width:1100px;margin:0 auto;color:#d7d7d7}
  .img-responsive-m{margin-bottom:20px;display:block;width:100%;max-width:600px;height:auto}
  .img-nomargin{margin-bottom:6px!important}
  .container{padding:0 10px}
  @media (min-width: 968px) {
  .container{width:953px;margin:0 auto}
  }
  @media (min-width: 1000px) {
  .container{width:985px;margin:0 auto}
  }
  @media (min-width: 1060px) {
  .container{width:1045px;margin:0 auto}
  }
  @media (max-width: 570px) {
  .global-header p.back-to-article{display:none}
  }
  .alert{padding:8px 35px 8px 14px;margin-bottom:18px;color:#c09853;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
  .alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1;margin-bottom:30px}
  .protect{border:1px #ebecef solid;padding:4px 14px 14px;margin-bottom:18px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
  li{margin:11px 0}

  .text{padding:6px 0;color:#fff;font-weight:700}
  .recommended{max-width:804px;margin-bottom:40px;font-size:14px}
  .img-recommended{display:inline-block;max-width:241px;margin-right:14px}
  .img-recommended a{color:inherit;font-weight:400}
  .img-recommended a:hover{text-decoration:underline}
  @media (max-width: 810px) {
  .img-r3{margin-right:0}
  }
  .txt-r{line-height:1.25;margin-top:3px}
  @media (max-width: 809px) {
  .recommended{display:none}
  }
  .img2{max-height:300px}
  .italic-center{font-style:italic;text-align:center;padding:2px 14px;line-height:1.35em}
  .attention{font-size:19px;margin:20px 0;background-color:#fef5c4;border:1px solid #fadf98;padding:13px;line-height:1.5;box-shadow:0 0 10px rgba(0,0,0,0.1);-moz-box-shadow:0 0 10px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);-ms-box-shadow:0 0 10px rgba(0,0,0,0.1)}
  @media (max-width: 480px) {
  .attention{font-size:16px;margin:10px 0}
  }
  .noteauthor{font-size:15px;padding-bottom:10px}
  .noteauthor1{font-size:14px;padding-top:14px}

  .btnn{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:9px 10px;font-size:17px;text-decoration:none;text-align:center;font-weight:700;margin:6px 0 20px;color:#fff;cursor:pointer;display:block}
  .btnn:visited{color:#fff}
  @media (min-width: 346px) {
  .btnn{font-size:19px}
  }
  @media (min-width: 374px) {
  .btnn{font-size:26px}
  }
  .btnn:active{transform:translate(0px,5px);-webkit-transform:translate(0px,5px);box-shadow:0 1px 0 0;-webkit-box-shadow:0 1px 0 0;-moz-box-shadow:0 1px 0 0}
  .red{background-color:#E92C2C;box-shadow:0 5px 0 0 #BC1F1F;-webkit-box-shadow:0 5px 0 0 #BC1F1F;-moz-box-shadow:0 5px 0 0 #BC1F1F}
  .red:hover{background-color: #BC1F1F;box-shadow: none;margin-top: 25px;margin-bottom: -5px;text-decoration: none;color: #ffffff;}
  .blue{background-color:#00A5D8;box-shadow:0 5px 0 0 #337ab7;-webkit-box-shadow:0 5px 0 0 #337ab7;-moz-box-shadow:0 5px 0 0 #337ab7}
  .blue:hover{background-color:#00AEEF;text-decoration:none;color:#fff}
  #share-container,.text{text-align:center}
  #share-container{white-space:nowrap;margin:0 0 18px}
  .box{cursor:pointer;display:inline-block;width:24.5%;margin:0 auto}
  .box1{border-radius:3px;-webkkit-border-radius:3px;-moz-border-radius:3px}
  .box2{border-radius:3px;-webkkit-border-radius:3px;-moz-border-radius:3px}
  .box3{border-radius:3px;-webkkit-border-radius:3px;-moz-border-radius:3px}
  .box4{border-radius:3px;-webkkit-border-radius:3px;-moz-border-radius:3px}
  .box1:hover{background-color:#2C4278!important}
  .box2:hover{background-color:#0086BD!important}
  .box3:hover{background-color:#C9371F!important}
  .box4:hover{background-color:#777777!important}
  .text{padding:6px 0;color:#fff;font-weight:700}

  blockquote {
    background: #EEEEEF;
    border-left: 5px solid #337ab7;
    padding: 20px;
    margin-bottom: 25px;
    font-size: 18px;
  }

  .embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%}
  .videoSize{display:block;width:100%;margin:0 auto 30px}
  .embed-container iframe,.embed-container object,.embed-container embed{position:absolute;top:0;left:0;width:100%;height:100%}

  /* video style */
  .vid-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* comments style */

    .fb_comments_list {
        line-height: 20px !important;
        border: 1px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        border-radius: 3px;
        padding: 12px;
        margin-bottom: 20px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .fb_header {
      padding-bottom: 12px;
        color: #90949c;
        font-size: 12px;
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #e9ebee;
    }

    .fb_page {
      float: left;
    }

    .fb_page a {
      color: #4267b2;
      font-weight: bold;
      text-decoration: none;
    }

    .fb_logo {
      float: right;
    }

    .fb_block {
      font-family: SF Optimized, Helvetica Neue, Helvetica, Arial, sans-serif;
      border-bottom: 1px solid #e6e6e6;
      padding: 10px 0;
    }

    .fb_block:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }

    .fb_picture {
      display: inline-block;
      vertical-align: top;
      margin-right: 12px;
    }

    .fb_img {
      border-radius: 50%;
      height: 56px;
      width: 56px;
    }

    .fb_text {
      display: inline-block;
      max-width: 75%;
    }

    .fb_username {
      display: block;
      font-size: 14px;
      line-height: 16px;
      color: #365899;
      cursor: pointer;
      text-decoration: none;
      margin-bottom: 4px;
    }

    .fb_stars img {
      width: 14px;
      padding-right: 2px;
      vertical-align: middle;
    }

    .fb_review {
      margin-bottom: 4px;
    }

    .fb_date {
      color: #90949c;
      font-size: 12px;
    }

    .fb_comment {
      color: #1d2129;
      font-size: 14px;
      line-height: 1.34;
    }

    /*start toggle code*/

    #textarea {
        display: none;
    }

    #textAreaToggle:checked + #textarea {
        display: block;
    }

    input[type="checkbox"] {
        position: absolute;
        left: -1000px;
    }

    label {
        display: block;
        cursor: pointer;
    }

    #textAreaToggle + #textarea + .toggle label::after {
        content: ' More';
    }

    #textAreaToggle:checked ~ #textarea + .toggle label::after {
        content: ' Less';
    }

    .toggle {
      text-align: center;
      color: #0066c0;
      padding-top: 12px;
    }

    /*end toggle code*/
