/*
Theme Name: Power Pes Theme
Author: fk

*/

body{
    background:#fff;
}

.photo-buyer{
    width: 60%;
    object-fit: cover;
}

.logo-header-img {
    object-fit: cover;
    min-width: 400px;
    max-height: 80px;
}

.gr-top{
    background: rgb(148, 193, 31);
    color: #fff;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    padding: 5px;
}

.menu-top{
    background-color: #e91e63;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.head-txt{
    font-size:7.5rem;
    color:#fff;
    text-shadow: 0px 0px 7px rgba(24, 24, 25, 1);
    padding: 40px;
    font-weight: 400;
}

.vid-tim-wrap{
    display:flex;
    align-items: flex-end;
    padding-bottom: 30px;
    
    
}

.vid-frame{
    padding: 20px;  
    background: #fff; 
    box-shadow: 0 0 10px 3px #444;
    border-radius: 8px; 
}

.vid-tim{
    width: 50%;
    padding: 0 2rem;

}


.blue-text{
    color: #0D47A1;
}

.white{
    color: #fff;
}

.pink-text{
    color: #e91e63;
}

.comprar{
    text-transform: uppercase;
    color: #fff;
    font-size: calc(30px + 1vw);
    padding: 0px !important;
    background: #89c419;
    width: 100%;
    height: calc(60px + 4vw);
    text-align: center;
    outline: none;
    border-radius: 70px;
    font-weight: 600;
    margin: auto;
    border: 8px solid #fff600;
}

a.comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.gar-sat{
    text-align: center;
    color: white;
    font-size: 21px;
    padding: 20px;
}

.just{
    justify-content: space-evenly
}

.wrapper-c{
    width: 100%;
    height: auto;
    overflow: hidden;
}


.divider{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.product{
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    border: solid 2px #000;
    position: relative;
    padding-top: 35px;
    min-width: 200px;
    min-height: 300px;
}

.shop{
    display: flex;
    justify-content: center;
}

.countdown {
    font-size: calc(15px + 1vw);
    font-weight: 700;
    margin: 30px 0px;
    color: #fff;
    white-space: nowrap;
}
.timer-horas, .timer-minutos, .timer-segundos {
    background-color: rgb(229, 0, 108);
    padding: 10px 18px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
}

.progress{
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    /* background-color: #acece6; */
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
}
.pink.lighten-4{
    background-color: #f8bbd0;
}

.determinate{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #e91e63;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
}

.img_wup{
    width: 100%;
    max-width: 450px !important;
    margin-bottom: 2rem !important;
}

.title_box{
    font-size: calc(0.5vw + 18px);
    line-height: 1.1em;
    position: absolute;
    top: -24px;
    width: 100%;
    left: 0;
}

.title_box b {
    padding: 4px 4px 11px;
    min-width: 91%;
    display: inline-block;
    border-radius: 6px;
    background: #fff;
    border: solid 2px;
    letter-spacing: -1px;
}


.shop-wrap{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 1080px;
}

.menu-top{
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
}

.nav-menu{
    display: flex;
    line-height: 55px;
}

.nav-menu a{
    transition: background-color .3s;
    color: #fff !important;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}


.nav-menu a:hover{
    background-color: rgba(0,0,0,0.1);
}

.comprar-btn{
    font-size: calc(16px + 0.5vw);
    height: auto;
    padding: 10px !important;
}

.btm-txt{
    text-align: center;
    color: #007efe;
    font-weight: 500;
    margin-bottom: -20px;
}

.porque{
    margin: 2.3733333333rem 0 1.424rem 0;
    font-size: 3.2rem;
    font-weight: 400;
}

.column{
    max-width: 290px;
    margin: 0 20px;
}

.mar-top-btm{
    margin: 20px 0;
}

a:hover{
    color:#fff;
}

.foot-nav a{
    color: #999;
}

.foot-nav a:hover{
    color: rgb(229, 0, 108);
    text-decoration: none;
}

.testemoni-text{
    margin: 0px;
    color: #000;
}

.testemoni-name{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    color: #000;
}

.tim-txt{
    text-align: center;
    color: #262262;
    line-height: 1;
    text-transform: uppercase;
    font-size: calc(14px + 2vw);
    font-weight: 700;
}

.timer-horas::after{
    content: 'Horas';
}

.timer-minutos::after{
    content: 'Minutos';
}

.timer-segundos::after{
    content: 'Segundos';
}

.timer-horas::after, .timer-minutos::after, .timer-segundos::after{

position: absolute;
left: 0px;
font-size: calc(10px + .2vw);
text-transform: uppercase;
color:#000;
text-align: center;
width: 100%;
bottom: -20px;
font-weight: 500;

}

.faq-head{
    font-size: 140%;
    font-weight: 600;
    margin-top: 40px;
    text-transform: uppercase;
    color: #000;
}

.use-txt{
    font-weight: 400;
    font-size: 1.90rem;
    margin: 1.52rem 0 .912rem 0;
}

.h-txt-font{
    font-size: 2.9rem;
    font-weight: 400;
    margin: 2.52rem 0 .912rem 0;
}

.divider{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    width: 75%;
    margin: 0 auto;
}

.crossed-price{
    display: block;
    width: calc(50% - 3px);
    margin: auto;
    text-decoration: line-through;
    padding: 0px;
    font-weight: 600;
    padding-right: 5px;
    box-sizing: border-box;
    color: rgb(38, 34, 98);
    font-size: 20px;
}

.full-price{
    display: block;
    width: calc(50% - 3px);
    margin: auto;
    padding: 0px;
    font-weight: 600;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

.parcel-pr{
    font-size: calc(21px + 0.5vw);
    font-weight: 700;
    line-height: 1em;
    color: rgb(38, 34, 98);
}

.crossed-price p, .full-price p {
    margin-bottom: 0px;
}

.i-frame-vid{
    max-width:100%;  max-height:300px;
}

.foot-link a{
    color:#999;
}

.foot-link a:hover{
    color:#fff;
}

.super-btn{
    background-color: rgb(239, 95, 37) !important;
    background-image: -webkit-linear-gradient(bottom, rgb(239, 95, 37) 0%, rgb(255, 121, 63)) !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: rgb(155, 66, 28) 0px 5px 0px !important;
    border: 0px !important;
    font-weight: 800 !important;
    border-radius: 5px !important;
    text-align: left !important;
    padding-left: 15px !important;
}

.super-btn-2{
    background-color: rgb(239, 95, 37) !important;
    background-image: -webkit-linear-gradient(bottom, rgb(239, 95, 37) 0%, rgb(255, 121, 63)) !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: rgb(154, 68, 36) 0px 4px 0px !important;
    border: 0px !important;
    font-weight: 800 !important;
    border-radius: 5px !important;
    padding-left: 20px !important;
}

.modal-title{
    font-weight: 700;
    text-align: center;
}

.modal-wrap{
    text-align: center;
}

.mod-in input{
    background-color: white;
    border: 0px;
    border-radius: 10px;
    height: 50px;
    padding-left: 10px;
    width: 80%;
}

.mod-in{
    margin-bottom: 30px;
}

.mod-btn{
    border: 8px solid rgb(255, 246, 0);
    background-color: #89c419;
    width: 80%;
    min-height: 70px;
    font-size: 26px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.modal-backdrop {
    background-color: #000;
    
 }
 
 .modal-backdrop
 {
     opacity:1 !important;
 }

.hom-mul{
    display: flex;
    justify-content: space-around;
}

.hom-mul button{
    display: block;
    margin: auto;
    background-color: #1abc9c;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 0px;
    font-size: 16px;
    color: white;
    min-width: 100px;
}

.tamanho{
    font-size: 20px !important;
    color: rgb(229, 0, 108) !important;
    font-weight: 600;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#hid-one, #hid-two, #hid-three{
    margin-bottom: 15px;
}

.head-f{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
}

.para-head{
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
}

.top-head{
    display: flex;
    justify-content: space-around;
    max-height: 55px;

}

.top-wrap{
    padding-top:80px;
    background-color:#fff; 
    margin-bottom: 20px;
}

.braz-cont{
    display: flex;
}

.wrap-dash{
    background: #f8f9fa;
    width: 100%;
    height: auto;
    border: 2px dashed black;
}


.foot-stuff{
    max-width: 700px;
    margin: auto;
    font-size: 14px;
}


.cont{
    padding: 10px;
}



.list-margin{
    margin: 0 0 1.41575em 20px;
}

.variable_btn_col {
    background-color: #e5006c !important;
}







@media only screen and (max-width: 767px){   
    
    .nav-menu {
        padding: 0;
    }
    
    .navbar-nav {
        margin-left: -190px;
        margin-top: 11px;
    }

    .navbar-light .navbar-toggler {
        padding: 0;
    }

    .navbar-light .navbar-toggler-icon {
        height: 20px;
    }

    .gr-top {
        font-size: 13px;
    }

    .logo-header-img {
        object-fit: cover;
        min-width: 260px;
        max-height: 60px;
    }

    .head-txt {
        padding: 9px 0 9px 0;
        font-size: 1.7rem;
    }

	.wrapper , .shop, .vid-tim-wrap{
        display: block;
    }    
    .vid-tim{
        width: 100%;
    }
    .vid-frame {
        padding: 15px
    }
    .photo-buyer{
        width: 80%;
        object-fit: cover;
    }
    .h-txt-font{
        font-size: 2.2rem;
    }
    .sh-pr{
        margin-bottom: 50px;
    }
    .column{
        margin: 0 0;
    }
    .i-frame-vid{
        max-height: 150px;
    }
    .tim-txt{
        margin-top: 15px;
    }

    .porque{
        font-size: 2rem;
    }

    .img-look{
        width: 100%
    }

    .cont, .bbb, .ssl-ser{
        display: none;
    }


}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .wrapper, .shop, .vid-tim-wrap{
        display: block;
    }
    .head-txt{
        font-size: 2rem;
        font-weight: 500;
    }
    .vid-tim{
        width: 100%;
    }
    .photo-buyer{
        width: 80%;
        object-fit: cover;
    }
    .h-txt-font{
        font-size: 2.2rem;
    }
    .sh-pr{
        margin-bottom: 50px;
    }
    .column{
        margin: 0 0;
        max-width: 1000px;
    }
    .i-frame-vid{
        max-height: 150px;
    }
    .porque{
        font-size: 2rem;
    }

    .img-look{
        width: 100%
    }

    .cont, .bbb, .ssl-ser{
        display: none;
    }




}

@media only screen and (min-width: 992px) and (max-width: 1999px){ 
    .photo-buyer{
        height: 825px;
        } 

}


